<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mvctestdb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mvctestdb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mvctestDb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mvctestDb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:hb4ne6fk6b.database.windows.net,1433;Initial Catalog=mvctestDb_db;User ID=gtoscano@hb4ne6fk6b;Password=Qwerty3@@" Name="Data Source=tcp:hb4ne6fk6b.database.windows.net,1433;Initial Catalog=mvctestDb_db;User Id=gtoscano@hb4ne6fk6b;Password=Qwerty3@@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVCWithLocalDB.Models.ApplicationDbContext, MVCWithLocalDB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MVCWithLocalDB.MyContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVCWithLocalDB.MyContext, MVCWithLocalDB" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:hb4ne6fk6b.database.windows.net,1433;Initial Catalog=mvctestDb_db;User Id=gtoscano@hb4ne6fk6b;Password=Qwerty3@@</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MVCWithLocalDB.MyContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MVCWithLocalDB.MyContext" />
  </ItemGroup>
</Project>